<div class="full-width">
  <div class="full-width">
    <div class="logo">
      <img src="assets/images/pc-logo-login.svg">
    </div>
  </div>
  <div class="main_container">
    <div class="login_container">
      <div class="full-width text-center">
          <div class="success_container">
            <img class="success_icon" src="assets/images/Payment Success.svg">
            <h4 class="mt-4">Payment Successful </h4>
            <p>The list of selected modules has been unlocked. Now you'l redirected to the profile.</p>
          </div>
      </div>
    </div>
  </div>
</div>