<div class="full-width">
    <div class="banner_bg">
      <img src="../assets/images/signup-bg.svg">
      <div class="signup_bg"></div>
      <div class="sign_up_box">
          <h3 class="sign_title">Welcome!</h3>
          <div class="">
              <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" class="active" href="#signup">Sign Up</a></li>
                  <li><a data-toggle="tab" href="#signin">Sign In</a></li>
              </ul>
              <div class="tab-content mt-3">
                  <div id="signup" class="tab-pane fade in active show">
                      <div class="full-width">
                            <form>
                                <div class="form-group">
                                    <label>Profile Url</label>
                                    <input class="input_control" placeholder="Heptagon" id="profile-url" name="profile-url">
                                </div>
                                <div class="form-group">
                                    <label>Mail Id</label>
                                    <input class="input_control" placeholder="admin@heptagon.in" id="email" name="email">
                                </div>
                            </form>
                      </div>
                      <div class="full-width">
                            <p class="text-center pay_text">You can Pay With </p>
                            <div class="payment_col">
                                    <ul class="payment_method">
                                        <li>
                                            <div class="icon etherum"><img src="assets/images/Etherum.svg"></div>
                                            <span>Etherum</span>
                                        </li>
                                        <li>
                                            <div class="icon etherum"><img src="assets/images/Bitcoin.svg"></div>
                                            <span>Bitcoin</span>
                                        </li>
                                        <li>
                                            <div class="icon etherum"><img src="assets/images/Flat money.svg"></div>
                                            <span>Flat Money</span>
                                        </li>
                                    </ul>
                            </div>

                            <p class="pay_info mt-2">A gas token of 0.0001 ETH / 0.00000 BTC /FIAT 1$ <br>will be charged. <span>Why?</span></p>
                            <button class="sign_up_btn" (click)="reDirectToLogin()">Sign Up</button>
                      </div>
                  </div>
                  <div id="signin" class="tab-pane fade">

                  </div>
              </div>
          </div>
      </div>
      <div class="left_block">
            <div class="pc-logo">
                <img src="assets/images/pc-logo.svg">
            </div>
            <p class="title">
                <span>Welcome to</span><br>
                <b>People Chain</b><br>
                 <span>Professional Network on a Public <br> Distributed Ledger</span>
            </p>
      </div>
    </div>
</div>
