<div class="full-width">
  <div class="full-width">
    <div class="logo">
      <img src="assets/images/pc-logo-login.svg">
    </div>
  </div>
  <div class="main_container">
    <div class="login_container">
      <div class="back_btn" (click)="goToPrevious()"><img src="assets/images/Back.svg"></div>
      <div class="chain_steps">
        <ul class="step_menu">
          <li class="completed"><i class="fa fa-check"></i></li>
          <li class="completed"><i class="fa fa-check"></i></li>
          <li>3</li>
          <li class="bg">4</li>
        </ul>
      </div>
      <div class="full-width">
        <form class="login_form" professionalForm="ngForm">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xl-12">
              <div class="col-md-6 col-sm-6 col-xl-6 float-left p-0">
                <p class="full-width page_title">Professional Details</p>
              </div>
              <div class="col-md-6 col-sm-6 col-xl-6 float-left p-0">
                <button class="add_new"><i class="fa fa-plus"></i> Add New</button>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xl-12">
              <div class="form-group">
                <label>Title</label>
                <input class="form-control" name="title" id="title" placeholder="UX/UI Designer">
              </div>
              <div class="col-md-6 col-sm-6 col-xl-6 float-left p-0 pr-2">
                <div class="form-group">
                  <label>Company</label>
                  <input class="form-control" id="company" name="company" placeholder="Heptagon Technologies">
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xl-6 float-left p-0 pl-2">
                <div class="form-group">
                  <label>Location</label>
                  <input class="form-control" name="" id="" placeholder="Coimbatore, India">
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xl-6 float-left p-0 pr-2">
                <div class="form-group">
                  <label>From Year</label>
                  <select class="form-control" name="fromyear" id="fromyear">
                      <option>2011</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xl-6 float-left p-0 pl-2">
                <div class="form-group">
                  <label>To Year</label>
                  <input class="form-control" name="" id="" placeholder="2019">
                </div>
              </div>
              <div class="form-group">
                  <label>Description</label>
                  <textarea class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label class="full-width">Document Upload <i class="fa fa-exclamation-circle"></i></label>
                <div class="upload_img">
                  <img src="assets/images/edu-docu.svg">
                </div>
                <div class="upload_img">
                  <img src="assets/images/edu-docu1.svg">
                </div>
                <div class="upload_file">
                  <span><i class="fas fa-paperclip"></i></span>
                  <span>Attach</span>
                </div>
              </div>
            </div>
          </div>
          <div class="full-width mt-3 mb-4">
            <button class="sign_in_btn next_btn" type="submit" [disabled]="!BasicInfoForm.invalid" (click)="goToNext()">Next</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>