<div class="full-width">
    <div class="full-width">
        <div class="logo">
            <img src="assets/images/pc-logo-login.svg">
        </div>
    </div>
    <div class="main_container">
        <div class="login_container">
            <div class="full-width">
                <form class="login_form">
                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xl-12 mb-4">
                          <div class="col-md-3 col-sm-3 col-xl-3 float-left">
                              <div class="form-group">
                                  <label class="mt-2 mb-0">Public Key</label>
                              </div>
                          </div>
                          <div class="col-md-8 col-xl-8 col-sm-8 float-left">
                              <div class="form-group">
                                  <input class="form-control" id="pubkey" name="pubkey" placeholder="f324323dsfsdfdsdsfdsfds">
                              </div>
                          </div>
                          <div class="col-md-1 col-sm-1 col-xl-1 float-left">
                              <img class="mt-1 copy-icon" src="assets/images/Copy.svg" title="Copy">
                          </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xl-12 mb-4">
                          <div class="col-md-3 col-sm-3 col-xl-3 float-left">
                            <div class="form-group">
                              <label class="mt-2 mb-0">Private Key</label>
                            </div>
                          </div>
                          <div class="col-md-8 col-xl-8 col-sm-8 float-left">
                            <div class="form-group">
                              <input class="form-control" id="privatekey" name="privatekey" placeholder="Sent to your mail id">
                            </div>
                          </div>
                          <div class="col-md-1 col-sm-1 col-xl-1 float-left">
                            <img class="mt-1 copy-icon" src="assets/images/Copy.svg" title="Copy">
                          </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xl-12">
                          <div class="col-md-5 col-sm-5 col-xl-5 float-left">
                            <div class="form-group">
                              <label class="mt-2 mb-0">Google Athenticator Code</label>
                            </div>
                          </div>
                          <div class="col-md-6 col-xl-6 col-sm-6 float-left">
                            <div class="form-group">
                              <input class="form-control" id="athenticatecode" name="athenticatecode" value="08645">
                            </div>
                          </div>
                          <div class="col-md-1 col-sm-1 col-xl-1 float-left">
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                          <div class="">
                              <p class="text-center">Fill Profile with</p>
                              <div class="social_media">
                                  <ul class="social_menu">
                                      <li><img src="assets/images/fb.svg"></li>
                                    <li><img src="assets/images/linkedin.svg"></li>
                                    <li><img src="assets/images/g+.svg"></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="full-width mt-3 mb-4">
                          <button class="sign_in_btn" type="submit" (click)="goToNext()">Sign In</button>
                      </div>
                </form>
            </div>
        </div>
    </div>
</div>